@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>XIAOMI</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">XIAOMI</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">XIAOMI/Model</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row mt-4">
                                <div class="col-sm-3">
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="text-center">
                                            <a asp-area="" asp-controller="ReviewController1" asp-action="Add">
                                                <img src="~/dist/img/XIAOMI/xiaomi-poco-x5-pro-5g.jpg" alt="XIAOMI" class="img-fluid">
                                            </a>
                                        </div>
                                        <a asp-area="" asp-controller="ReviewController1" asp-action="Add" class="dropdown-item text-center">POCO-X5-PRO-5G</a>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="text-center">
                                            <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce7.html">
                                                <img src="~/dist/img/XIAOMI/xiaomi-poco-x5-5g.jpg" alt="XIAOMI" class="img-fluid">
                                            </a>
                                        </div>
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce7.html" class="dropdown-item text-center">POCO-X5-5G</a>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="text-center">
                                            <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce8.html">
                                                <img src="~/dist/img/XIAOMI/xiaomi-poco-x4-pro.jpg" alt="XIAOMI" class="img-fluid">
                                            </a>
                                        </div>
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce8.html" class="dropdown-item text-center">POCO-X4-PRO</a>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="text-center">
                                            <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce9.html">
                                                <img src="~/dist/img/XIAOMI/xiaomi-poco-x4-gt.jpg" alt="XIAOMI" class="img-fluid">
                                            </a>
                                        </div>
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce9.html" class="dropdown-item text-center">POCO-X4-GT</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce10.html">
                                            <img src="~/dist/img/XIAOMI/xiaomi-poco-x3-pro-.jpg" alt="Photo 1" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce10.html" class="dropdown-item text-center">POCO-X3-PRO</a>
                                </div>

                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist/img/XIAOMI/xiaomi-poco-x3-nfc.jpg" alt="infinix1" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">POCO-X3-NFC</a>
                                </div>

                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist/img/XIAOMI/xiaomi-poco-m6-pro.jpg" alt="Photo 2" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">POCO-M6-PRO</a>
                                </div>

                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist/img/XIAOMI/xiaomi-poco-m3-.jpg" alt="Photo 2" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">POCO-M3</a>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist/img/XIAOMI/xiaomi-poco-f5-pro-2.jpg" alt="Photo 1" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">POCO-F5-PRO-2</a>
                                </div>

                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist/img/XIAOMI/xiaomi-poco-f5-2.jpg" alt="infinix1" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">POCO-F5-2</a>
                                </div>

                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist\img\XIAOMI\xiaomi-poco-f4-5g-.jpg" alt="Photo 2" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">POCO-F4-5G</a>
                                </div>

                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist\img\XIAOMI/xiaomi-poco-f3.jpg" alt="Photo 2" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">POCO-F3</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

</div>