@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>SAMSUNG</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">SAMSUNG</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">SAMSUNG/Model</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row mt-4">
                                <div class="col-sm-3">
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="text-center">
                                            <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce11.html">
                                                <img src="~/dist/img/SAMSUNG/samsung-galaxy-z-fold3-5g.jpg" alt="XIAOMI" class="img-fluid">
                                            </a>
                                        </div>
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce11.html" class="dropdown-item text-center">SAMSUNG-galaxy-Z-Fold3-5G</a>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="text-center">
                                            <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce12.html">
                                                <img src="~/dist/img/SAMSUNG/samsung-galaxy-s22-ultra-5g.jpg" alt="XIAOMI" class="img-fluid">
                                            </a>
                                        </div>
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce12.html" class="dropdown-item text-center">SAMSUNG-galaxy-S22Ultra-5G</a>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="text-center">
                                            <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce13.html">
                                                <img src="~/dist\img\SAMSUNG\samsung-galaxy-s22-plus-5g.jpg" alt="XIAOMI" class="img-fluid">
                                            </a>
                                        </div>
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce13.html" class="dropdown-item text-center">SAMSUNG-galaxy-S22-PLUS-5G</a>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="text-center">
                                            <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce14.html">
                                                <img src="~/dist\img\SAMSUNG\samsung-galaxy-s22-5g.jpg" alt="XIAOMI" class="img-fluid">
                                            </a>
                                        </div>
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce14.html" class="dropdown-item text-center">SAMSUNG-galaxy-S22-5G</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce15.html">
                                            <img src="~/dist\img\SAMSUNG\samsung-galaxy-quantum-2-sm-a826s.jpg" alt="Photo 1" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce15.html" class="dropdown-item text-center">SAMSUNG-galaxy-Quantum2-SM-A826S</a>
                                </div>

                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist\img\SAMSUNG\samsung-galaxy-m42.jpg" alt="infinix1" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">SAMSUNG-galaxy-M42</a>
                                </div>

                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist\img\SAMSUNG\samsung-galaxy-m32-5g-new.jpg" alt="Photo 2" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">SAMSUNG-galxy-M32-5G-NEW</a>
                                </div>

                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist\img\SAMSUNG\samsung-galaxy-m32-5g-.jpg" alt="Photo 2" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">SAMSUNG-galaxy-M32-5G</a>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist/img/SAMSUNG/samsung-galaxy-m12.jpg" alt="Photo 1" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">SAMSUNG-galaxy-M12</a>
                                </div>

                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist/img/SAMSUNG/samsung-galaxy-f52-5g.jpg" alt="infinix1" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">SAMSUNG-galaxy-F52-5G</a>
                                </div>

                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist/img/SAMSUNG/samsung-galaxy-a13-5g-.jpg" alt="Photo 2" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">SAMSUNG-galaxy-A13-5G</a>
                                </div>

                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist/img/SAMSUNG/samsung-galaxy-a03.jpg" alt="Photo 2" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">SAMSUNG-galaxy-A03</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

</div>