@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>APPLE</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active">APPLE</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">APPLE/Model</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row mt-4">
                                <div class="col-sm-3">
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="text-center">
                                            <a asp-area="" asp-controller="AppleView" asp-action="Index">
                                                <img src="~/dist/img/APP/apple-iphone-15-pro.jpg" alt="APPLE" class="img-fluid">
                                            </a>
                                        </div>
                                        <a asp-area="" asp-controller="AppleView" asp-action="Index" class="dropdown-item text-center">IPHONE-15-PRO</a>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="text-center">
                                            <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce2.html">
                                                <img src="~/dist/img/APP/apple-iphone-15-plus-.jpg" alt="APPLE" class="img-fluid">
                                            </a>
                                        </div>
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce2.html" class="dropdown-item text-center">IPHONE -15-PLUS</a>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="text-center">
                                            <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce3.html">
                                                <img src="~/dist/img/APP/apple-iphone-15.jpg" alt="XIAOMI" class="img-fluid">
                                            </a>
                                        </div>
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce3.html" class="dropdown-item text-center">IPHONE-15</a>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="text-center">
                                            <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce4.html">
                                                <img src="~/dist/img/APP/apple-iphone-14-pro-max-.jpg" alt="XIAOMI" class="img-fluid">
                                            </a>
                                        </div>
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce4.html" class="dropdown-item text-center">IPHONE-14-PRO-MAX</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce5.html">
                                            <img src="~/dist/img/APP/apple-iphone-14-pro.jpg" alt="Photo 1" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce5.html" class="dropdown-item text-center">IPHONE-14-PRO</a>
                                </div>

                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist/img/APP/apple-iphone-13-pro-max.jpg" alt="infinix1" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">IPHONE-13-PRO-MAX</a>
                                </div>

                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist/img/APP/apple-iphone-13-pro.jpg" alt="Photo 2" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">IPHONE-13-PRO</a>
                                </div>

                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist/img/APP/apple-iphone-13-mini.jpg" alt="Photo 2" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">IPHONE-13-MINI</a>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist/img/APP/apple-iphone-13.jpg" alt="Photo 1" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">IPHONE-13</a>
                                </div>

                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist/img/APP/apple-iphone-11.jpg" alt="infinix" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">IPHONE-11</a>
                                </div>

                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist/img/APP/apple-iphone-x.jpg" alt="Photo 2" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">IPHONE-X</a>
                                </div>

                                <div class="col-sm-3 d-flex flex-column align-items-center">
                                    <div class="position-relative text-center">
                                        <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html">
                                            <img src="~/dist/img/APP/apple-iphone-11-pro.jpg" alt="Photo 2" class="img-fluid">
                                        </a>
                                    </div>
                                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\pages\examples\e-commerce.html" class="dropdown-item text-center">IPHONE-11-PRO</a>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>