@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- /.navbar -->
<h5 class="mb-2">REVIEWS</h5>
<div class="card card-success">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-4">
                <div class="card mb-2 bg-gradient-dark">
                    <a asp-area="" asp-controller="Review1" asp-action="Index">
                       <img class="card-img-top" src="~/dist/img/unnamed1.png" alt="Dist Photo 1">
                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                           <a class="nav-link text-primary" asp-area="" asp-controller="Review1" asp-action="Index">
                                <h3 class="card-title text-primary text-primary" asp-area="" asp-controller="Review1" asp-action="Index">POCO F5 Pro</h3>
                                REVIEWS
                           </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-4">
                <div class="card mb-2">
                    <a href="c:\Users\acer\Desktop\Phone Brand\AdminLTE-3.2.0\index.html">
                        <img class="card-img-top" src="~/dist/img/download3.jpg" alt="Dist Photo 2">
                    </a>
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <a class="nav-link text-primary" asp-area="" asp-controller="ReviewController1" asp-action="Add">
                            <h3 class="card-title text-primary">SAMSUNG</h3>
                            REVIEWS
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-4">
                <div class="card mb-2">
                    <img class="card-img-center" src="~/dist/img/images12.jpg" alt="Dist Photo 3">
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <a class="nav-link text-primary" asp-area="" asp-controller="Models">
                            <h3 class="card-title text-primary">ROG</h3>
                            REVIEWS
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-4">
                <div class="card mb-2">
                    <img class="card-img-top" src="~/dist/img/download1.jpg" alt="Dist Photo 3">
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <a asp-area="" asp-controller="appleView" asp-action="Index" class="text-primary">
                            <h2 class="card-title text-primary" asp-area="" asp-controller="AppleView" asp-action="Index">IPHONE</h2>
                            REVIEWS
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-4">
                <div class="card mb-2">
                    <img class="card-img-botom-right" src="~/dist/img/realme.jpg" alt="Dist Photo 3">
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <a class="nav-link text-primary" asp-area="" asp-controller="Models">
                            <h2 class="card-title text-primary">REALME</h2>
                            REVIEWS
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="card mb-2">
                    <img class="card-img-top-left" src="~/dist/img/infinix.jpg" alt="Dist Photo 3">
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <a class="nav-link text-primary" asp-area="" asp-controller="Models">
                            <h2 class="card-title text-primary">INFINIX</h2>
                            REVIEWS
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  </div>
<!-- /.content-wrapper -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Phone Brand</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-bordered">
                            <nav class="main-header navbar navbar-expand-md navbar-black navbar-black">
                                <div class="col-md-12 col-lg-6 col-xl-4">
                                    <div class="card mb-2">
                                        <img class="card-img-top" src="~/dist/img/wew.jpg" alt="Dist Photo 3">
                                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                                            <a class="nav-link text-primary" asp-area="" asp-controller="Models">
                                                <h3 class="card-title text-primary">INFINIX</h3>
                                                REVIEWS
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 col-xl-4">
                                    <div class="card mb-2">
                                        <img class="card-img-right" src="~/dist/img/techno.jpg" alt="Dist Photo 3">
                                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                                            <a class="nav-link text-primary" asp-area="" asp-controller="Models">
                                                <h3 class="card-title text-primary">TECHNO</h3>
                                                REVIEWS
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6 col-xl-4">
                                    <div class="card mb-2">
                                        <img class="card-img-botom-right" src="~/dist/img/images123.jpg" alt="Dist Photo 3">
                                        <div class="card-img-overlay d-flex flex-column justify-content-end">
                                            <a class="nav-link text-primary" asp-area="" asp-controller="Models">
                                                <h2 class="card-title text-primary">NOTHING Phone</h2>
                                                REVIEWS
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            <thead>
                                <tr>
                                    <th style="text-align: center;">
                                        <a class="nav-link text-primary" asp-area="" asp-controller="AppleModel" asp-action="Index">
                                            <h5>APPLE</h5>
                                        </a>
                                    </th>
                                    <th style="text-align: center;">
                                        <a class="nav-link text-primary" asp-area="" asp-controller="Models">
                                            <h5>SAMSUNG</h5>
                                        </a>
                                    </th>
                                    <th style="text-align: center;">
                                        <a class="nav-link text-primary" asp-area="" asp-controller="Models">
                                            <h5>XIAOMI</h5>
                                        </a>
                                    </th>
                                    <th style="text-align: center;">
                                        <a lass="nav-link text-primary" asp-area="" asp-controller="Models">
                                            <h5>OPPO</h5>
                                        </a>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="text-align: center;">
                                        <a class="nav-link text-primary" asp-area="" asp-controller="Models">
                                            <h5>INFINIX</h5>
                                        </a>
                                    </th>
                                    <th style="text-align: center;">
                                        <a class="nav-link text-primary" asp-area="" asp-controller="Models">
                                            <h5>LENOVO</h5>
                                        </a>
                                    </th>
                                    <th style="text-align: center;">
                                        <a class="nav-link text-primary" asp-area="" asp-controller="Models">
                                            <h5>ASUS</h5>
                                        </a>
                                    </th>
                                    <th style="text-align: center;">
                                        <a class="nav-link text-primary" asp-area="" asp-controller="Models">
                                            <h5>VIVO</h5>
                                        </a>
                                    </th>

                                </tr>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->